.contactUs{
  width: 100%;
  background-color: var(--background-gray);
  padding: 154px 147px 160px 147px;
  text-align: center;
}
  
.contactUs h1{
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 1.125rem;
}
  
.contactUs span{
  color: var(--logo-color);
}
  
.contactUs p{
  font-size: 16.7296px;
  line-height: 28px;
  margin-bottom: 96px;
}
  
.contactUsBottomDiv{
  margin: auto;
  width: 100%;
  display: flex;
  gap: 7.5rem;
}
  
.contactLeftDiv{
  width: 18.75rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
  
.contactLeftDivText{
  display: flex;
  gap: .5rem;
  flex-direction: column;
  text-align: start;
}
  
.contactLeftDivText :nth-child(2){
  color: #4864b4;
}
 
.contactLeftDivText :nth-child(3){
  color: var(--logo-color);
}
  
.contactLeftDivContainer{
  display: flex;
  gap: 1rem;
}
  
.contactRightDiv{
  width: 40.625rem;
    
}
  
.contactRightDiv form{
  width: 100%;
  display: flex;
  gap: 2.1875rem;
  flex-direction: column;
}
  
.topInputDiv{
  width: 100%;
  display: flex;
  gap: .5rem;
}
  
.topInputDiv input{
  width: 20rem;
}
  
.inputDetails{
  padding: .9375rem 0 .9375rem .75rem;
  font-size: .9375rem;
  background-color: #333333;
  border-radius: .5rem;
}
  
.inputBtn{
  background-color: var(--button-color);
  width: 11.125rem;
  height: 3.25rem;
  border-radius: .5rem;
  cursor: pointer;
  
  &:hover{
   background-color: var(--hover-button-color);
  }
} 

@media ( max-width: 48rem) {
  .contactUs{
      padding: 10rem 2rem 10rem 2rem;
  }
  
.contactUsBottomDiv{
    flex-direction: column;
    gap: 7.5rem;
  }  
}

@media (max-width: 24.375rem) {
  .contactRightDiv{
      width: 100%;
    }

    .topInputDiv{
      flex-direction: column; 
      gap: 2.1875rem;
    }
}
